In [201]:
import requests
from requests import get
from bs4 import BeautifulSoup
import pandas as pd
import numpy as np

from time import sleep
from random import randint

In [215]:
pages = np.arange(1, 4, 1)

col1 = ['Revenue', 'Productivity and Business Processes', 'Intelligent Cloud', 'More Personal Computing', 'Total', 'Operating Income', 'Productivity and Business Processes', 'Intelligent Cloud', 'More Personal Computing', 'Total']

col2 = []

for page in pages:

    url = 'https://www.microsoft.com/en-us/Investor/earnings/FY-2021-Q' + str(page) + '/segment-revenues'

    results = requests.get(url)

    soup = BeautifulSoup(results.text, "html.parser")
    
    table = soup.find('table', attrs={'itemtype' : "https://schema.org/ItemList"})
    tablebody = table.find('tbody')

    rows = tablebody.find_all('tr')
    
    sleep(randint(2,10))
    
    for row in rows:  
        values = row.find('span', attrs={'itemprop': 'price'}).text if row.find('span', attrs={'itemprop': 'price'}) else ''
        col2.append(values)

In [217]:
print(col2[10:20])

['', '13,353', '14,601', '15,122', '43,076', '', '6,181', '6,492', '5,224', '17,897']

In [218]:
df = pd.DataFrame({
    'Revenue': col1,
    'FY21Q1': col2[0:10],
    'FY21Q2': col2[10:20],
    'FY21Q3': col2[20:30],
})

df

                               Revenue  FY21Q1  FY21Q2  FY21Q3
0                              Revenue
1  Productivity and Business Processes  12,319  13,353  13,552
2                    Intelligent Cloud  12,986  14,601  15,118
3              More Personal Computing  11,849  15,122  13,036
4                                Total  37,154  43,076  41,706
5                     Operating Income
6  Productivity and Business Processes   5,706   6,181   6,029
7                    Intelligent Cloud   5,422   6,492   6,425
8              More Personal Computing   4,748   5,224   4,594
9                                Total  15,876  17,897  17,048

In [214]:
print(df.dtypes)

Revenue    object
FY21Q1     object
FY21Q2     object
FY21Q3     object
dtype: object

In [226]:
df.to_csv('test.csv')